@using TemplateLib;

<!DOCTYPE html>

<html>
<head>
    <title>Hi, I am generated from Razor template.</title>
</head>
<body>
    <div>
        <h3>
           Hi, I am generated from Razor template.
        </h3>
        <p>
            ba la ba la...
        </p>
    </div>
</body>
</html>